<div class="container">
  <h1>Studio Arya</h1>
  <p>O Studio feito para voce</p>
  <h2>Sala para treinar</h2>
  <p>Seu cantinho de treino</p>
  <%# Colocar algumas fotos e continuar fazendo o site %>
  <h4>Trainers e funcionarios</h4>
  <h5>Paola Santos</h5>
  <%#= do something for the studio, think about ideas  %>
</div>
